/* screen - home-page-car-edit */

.home-page-car-edit {
  background-color: var(--vulcan);
  height: 100vh;
  margin: 0px;
  min-height: 1178px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.home-page-car-edit .ant-designlogout-outlined-Q6TFI9 {
  background-color: transparent;
  height: 25px;
  left: 9px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 25px;
}
.home-page-car-edit .body-otulIX {
  background-color: transparent;
  height: 16px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 131px;
}
.home-page-car-edit .bxbxs-trash-alt-B08mCn {
  background-color: transparent;
  height: 36.24%;
  left: 23.33%;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 11.58%;
  width: 50.00%;
}
.home-page-car-edit .cancel-uyKIUc {
  background-color: transparent;
  height: 20px;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 19.7px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .car-howkCj {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 33.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .cellphone-Ki0one {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 33.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .drone-KfAAKu {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 33.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .ellipse-2-B08mCn {
  background-color: var(--link-water);
  border-radius: 15px;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 30px;
}
.home-page-car-edit .ellipse-2-eYqyUC {
  background-color: var(--link-water);
  border-radius: 15px;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 30px;
}
.home-page-car-edit .engine-GrM9XX {
  background-color: transparent;
  height: 16px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 322px;
}
.home-page-car-edit .fa-solidedit-eYqyUC {
  background-color: transparent;
  height: 49.85%;
  left: 30.00%;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 22.21%;
  width: 48.75%;
}
.home-page-car-edit .flat-color-iconsinfo-GrM9XX {
  background-color: transparent;
  height: 15px;
  left: 478px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 11px;
  width: 15px;
}
.home-page-car-edit .flat-color-iconsinfo-MccqLq {
  background-color: transparent;
  height: 15px;
  left: 478px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 11px;
  width: 15px;
}
.home-page-car-edit .flat-color-iconsinfo-hcnFW1 {
  background-color: transparent;
  height: 15px;
  left: 478px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 11px;
  width: 15px;
}
.home-page-car-edit .flat-color-iconsinfo-jGSBnk {
  background-color: transparent;
  height: 15px;
  left: 478px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 11px;
  width: 15px;
}
.home-page-car-edit .flat-color-iconsinfo-mjIumg {
  background-color: transparent;
  height: 15px;
  left: 478px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 11px;
  width: 15px;
}
.home-page-car-edit .flat-color-iconsinfo-ni4IuY {
  background-color: transparent;
  height: 15px;
  left: 478px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 15px;
}
.home-page-car-edit .flat-color-iconsinfo-otulIX {
  background-color: transparent;
  height: 15px;
  left: 478px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 11px;
  width: 15px;
}
.home-page-car-edit .flat-color-iconsinfo-rq78IU {
  background-color: transparent;
  height: 15px;
  left: 478px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 11px;
  width: 15px;
}
.home-page-car-edit .flat-color-iconsinfo-trCdTl {
  background-color: transparent;
  height: 15px;
  left: 478px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 11px;
  width: 15px;
}
.home-page-car-edit .flat-color-iconsinfo-vcoZO8 {
  background-color: transparent;
  height: 15px;
  left: 478px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 11px;
  width: 15px;
}
.home-page-car-edit .flat-color-iconsinfo-wd1xcm {
  background-color: transparent;
  height: 15px;
  left: 478px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 11px;
  width: 15px;
}
.home-page-car-edit .flat-color-iconsinfo-zUjqOF {
  background-color: transparent;
  height: 15px;
  left: 478px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 11px;
  width: 15px;
}
.home-page-car-edit .group-1-C61RwL {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1442px;
}
.home-page-car-edit .group-102-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 1312px;
  position: absolute;
  top: 156px;
  width: 30px;
}
.home-page-car-edit .group-103-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 48px;
  left: 1353px;
  position: absolute;
  top: 156px;
  width: 30px;
}
.home-page-car-edit .group-123-C61RwL {
  background-color: transparent;
  height: 38px;
  left: 57px;
  position: absolute;
  top: 110px;
  width: 1328px;
}
.home-page-car-edit .group-124-kdwriU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 22px;
}
.home-page-car-edit .group-129-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 471px;
  position: absolute;
  top: 531px;
  width: 20px;
}
.home-page-car-edit .group-130-C61RwL {
  background-color: transparent;
  height: 80px;
  left: 91px;
  position: absolute;
  top: 232px;
  width: 408px;
}
.home-page-car-edit .group-131-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 80px;
  left: 91px;
  position: absolute;
  top: 327px;
  width: 408px;
}
.home-page-car-edit .group-132-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 80px;
  left: 91px;
  position: absolute;
  top: 422px;
  width: 408px;
}
.home-page-car-edit .group-3-C61RwL {
  background-color: transparent;
  height: 971px;
  left: 57px;
  position: absolute;
  top: 148px;
  width: 468px;
}
.home-page-car-edit .group-3-VyzZeT {
  background-color: transparent;
  height: 41px;
  left: 1363px;
  position: absolute;
  top: 10px;
  width: 49px;
}
.home-page-car-edit .group-7-2p4Gmi {
  background-color: transparent;
  height: 30px;
  left: 720px;
  pointer-events: auto;
  position: absolute;
  top: 17px;
  transition: all 0.2s ease;
  width: 102px;
}
.home-page-car-edit .group-7-2p4Gmi:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home-page-car-edit .group-8-2p4Gmi {
  background-color: transparent;
  cursor: pointer;
  height: 30px;
  left: 600px;
  pointer-events: auto;
  position: absolute;
  top: 17px;
  transition: all 0.2s ease;
  width: 102px;
}
.home-page-car-edit .group-8-2p4Gmi:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home-page-car-edit .group-88-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 555px;
  position: absolute;
  top: 1061px;
  width: 820px;
}
.home-page-car-edit .iaf01-01-ni4IuY {
  background-color: transparent;
  height: 16px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 322px;
}
.home-page-car-edit .iaf01-02-rq78IU {
  background-color: transparent;
  height: 16px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 131px;
}
.home-page-car-edit .iaf01-03-wd1xcm {
  background-color: transparent;
  height: 16px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 131px;
}
.home-page-car-edit .iaf01-04-hcnFW1 {
  background-color: transparent;
  height: 16px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 131px;
}
.home-page-car-edit .iaf01-howkCj {
  background-color: transparent;
  height: 20px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 19.7px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .iaf02-Ki0one {
  background-color: transparent;
  height: 20px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 19.7px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .iaf03-KfAAKu {
  background-color: transparent;
  height: 20px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 19.7px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .image-2-VyzZeT {
  background-color: transparent;
  height: 60px;
  left: 20px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 60px;
}
.home-page-car-edit .image-3-C61RwL {
  background-color: transparent;
  height: 187px;
  left: 1143px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 194px;
  width: 187px;
}
.home-page-car-edit .image-4-C61RwL {
  background-color: transparent;
  height: 145px;
  left: 1077px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 424px;
  width: 320px;
}
.home-page-car-edit .image-5-C61RwL {
  background-color: transparent;
  height: 125px;
  left: 1077px;
  mix-blend-mode: normal;
  position: absolute;
  top: 641px;
  width: 300px;
}
.home-page-car-edit .image-6-C61RwL {
  background-color: transparent;
  height: 163px;
  left: 1155px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 832px;
  width: 163px;
}
.home-page-car-edit .inventory-asset-forecasting-VyzZeT {
  background-color: transparent;
  height: auto;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: 334px;
}
.home-page-car-edit .line-16-2p4Gmi {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 820px;
}
.home-page-car-edit .line-20-kVKiWv {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 1326px;
}
.home-page-car-edit .line-21-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 559px;
  position: absolute;
  top: 392px;
  width: 824px;
}
.home-page-car-edit .line-22-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 559px;
  position: absolute;
  top: 602px;
  width: 824px;
}
.home-page-car-edit .line-23-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 559px;
  position: absolute;
  top: 804px;
  width: 824px;
}
.home-page-car-edit .logout-Q6TFI9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: 49px;
}
.home-page-car-edit .mdi-lightmagnify-LfwUjk {
  background-color: transparent;
  height: 24px;
  left: 213px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 6px;
  width: 24px;
}
.home-page-car-edit .mirror-MccqLq {
  background-color: transparent;
  height: 16px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 131px;
}
.home-page-car-edit .parts-description-GrM9XX {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.home-page-car-edit .parts-description-MccqLq {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.home-page-car-edit .parts-description-mjIumg {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.home-page-car-edit .parts-description-otulIX {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.home-page-car-edit .parts-id-hcnFW1 {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.home-page-car-edit .parts-id-ni4IuY {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.home-page-car-edit .parts-id-rq78IU {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.home-page-car-edit .parts-id-wd1xcm {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.home-page-car-edit .produce-count-KfAAKu {
  background-color: transparent;
  height: auto;
  left: 286px;
  letter-spacing: 0.00px;
  line-height: 16.9px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .produce-count-Ki0one {
  background-color: transparent;
  height: auto;
  left: 286px;
  letter-spacing: 0.00px;
  line-height: 16.9px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .produce-count-howkCj {
  background-color: transparent;
  height: auto;
  left: 286px;
  letter-spacing: 0.00px;
  line-height: 16.9px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .products-kVKiWv {
  background-color: transparent;
  height: 25px;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 25.3px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .quantity-jGSBnk {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.home-page-car-edit .quantity-trCdTl {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.home-page-car-edit .quantity-vcoZO8 {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.home-page-car-edit .quantity-zUjqOF {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.home-page-car-edit .rectangle-1-VyzZeT {
  background-color: var(--ebony-clay);
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.home-page-car-edit .rectangle-10-GrM9XX {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.home-page-car-edit .rectangle-10-LfwUjk {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 250px;
}
.home-page-car-edit .rectangle-10-MccqLq {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.home-page-car-edit .rectangle-10-hcnFW1 {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.home-page-car-edit .rectangle-10-jGSBnk {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.home-page-car-edit .rectangle-10-mjIumg {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.home-page-car-edit .rectangle-10-ni4IuY {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.home-page-car-edit .rectangle-10-otulIX {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.home-page-car-edit .rectangle-10-rq78IU {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.home-page-car-edit .rectangle-10-trCdTl {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.home-page-car-edit .rectangle-10-vcoZO8 {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.home-page-car-edit .rectangle-10-wd1xcm {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.home-page-car-edit .rectangle-10-zUjqOF {
  background-color: transparent;
  border-radius: 5px;
  height: 36px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.home-page-car-edit .rectangle-3-hvAGCq {
  background-color: var(--scarpa-flow);
  height: 971px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 468px;
}
.home-page-car-edit .rectangle-59-Ntax4x {
  background-color: var(--slimy-green);
  border-radius: 5px;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100px;
}
.home-page-car-edit .rectangle-59-uyKIUc {
  background-color: transparent;
  border: 1px solid var(--flamingo);
  border-radius: 5px;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100px;
}
.home-page-car-edit .rectangle-88-kVKiWv {
  background-color: var(--flamingo);
  height: 5px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 33px;
  width: 182px;
}
.home-page-car-edit .rectangle-89-ZpkusC {
  background-color: var(--vulcan);
  border-radius: 5px;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 20px;
}
.home-page-car-edit .rectangle-90-KfAAKu {
  background-color: var(--scarpa-flow);
  border-radius: 10px;
  height: 80px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 400px;
}
.home-page-car-edit .rectangle-90-Ki0one {
  background-color: var(--scarpa-flow);
  border-radius: 10px;
  height: 80px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 400px;
}
.home-page-car-edit .rectangle-90-howkCj {
  background-color: var(--waterloo-);
  border-radius: 10px;
  height: 80px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 400px;
}
.home-page-car-edit .save-Ntax4x {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19.7px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: 102px;
}
.home-page-car-edit .search-LfwUjk {
  background-color: transparent;
  height: 16px;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 131px;
}
.home-page-car-edit .text-field-2P4qUJ {
  background-color: transparent;
  height: 36px;
  left: 555px;
  position: absolute;
  top: 477px;
  width: 507px;
}
.home-page-car-edit .text-field-3kIbHG {
  background-color: transparent;
  height: 36px;
  left: 555px;
  position: absolute;
  top: 890px;
  width: 507px;
}
.home-page-car-edit .text-field-C61RwL {
  background-color: transparent;
  height: 36px;
  left: 241px;
  position: absolute;
  top: 177px;
  width: 252px;
}
.home-page-car-edit .text-field-HlKRTo {
  background-color: transparent;
  height: 36px;
  left: 555px;
  position: absolute;
  top: 687px;
  width: 507px;
}
.home-page-car-edit .text-field-J1YQmd {
  background-color: transparent;
  height: 36px;
  left: 555px;
  position: absolute;
  top: 533px;
  width: 507px;
}
.home-page-car-edit .text-field-QxM5SU {
  background-color: transparent;
  height: 36px;
  left: 555px;
  position: absolute;
  top: 268px;
  width: 507px;
}
.home-page-car-edit .text-field-VMr6Om {
  background-color: transparent;
  height: 36px;
  left: 555px;
  position: absolute;
  top: 212px;
  width: 507px;
}
.home-page-car-edit .text-field-VkPPtx {
  background-color: transparent;
  height: 36px;
  left: 555px;
  position: absolute;
  top: 743px;
  width: 507px;
}
.home-page-car-edit .text-field-YWzA7M {
  background-color: transparent;
  height: 36px;
  left: 555px;
  position: absolute;
  top: 834px;
  width: 507px;
}
.home-page-car-edit .text-field-a5WPlX {
  background-color: transparent;
  height: 36px;
  left: 555px;
  position: absolute;
  top: 631px;
  width: 507px;
}
.home-page-car-edit .text-field-a73nmY {
  background-color: transparent;
  height: 36px;
  left: 555px;
  position: absolute;
  top: 946px;
  width: 507px;
}
.home-page-car-edit .text-field-mzXdH9 {
  background-color: transparent;
  height: 36px;
  left: 555px;
  position: absolute;
  top: 421px;
  width: 507px;
}
.home-page-car-edit .text-field-qr8e7q {
  background-color: transparent;
  height: 36px;
  left: 555px;
  position: absolute;
  top: 324px;
  width: 507px;
}
.home-page-car-edit .vector-2puaGO {
  background-color: transparent;
  height: 13.33%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 27.71%;
  width: 13.33%;
}
.home-page-car-edit .vector-51Fe2N {
  background-color: transparent;
  height: 13.33%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 27.71%;
  width: 13.33%;
}
.home-page-car-edit .vector-5EjEx0 {
  background-color: transparent;
  height: 93.33%;
  left: 3.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.33%;
  width: 93.33%;
}
.home-page-car-edit .vector-DMQCYh {
  background-color: transparent;
  height: 93.33%;
  left: 3.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.33%;
  width: 93.33%;
}
.home-page-car-edit .vector-MEexO3 {
  background-color: transparent;
  height: 84.00%;
  left: 7.88%;
  mix-blend-mode: normal;
  position: absolute;
  top: 8.00%;
  width: 86.00%;
}
.home-page-car-edit .vector-Nmkj4l {
  background-color: transparent;
  height: 13.33%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 27.71%;
  width: 13.33%;
}
.home-page-car-edit .vector-PEgzOO {
  background-color: transparent;
  height: 103.64%;
  left: -1.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: -1.81%;
  width: 102.56%;
}
.home-page-car-edit .vector-PrnOeo {
  background-color: transparent;
  height: 93.33%;
  left: 3.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.33%;
  width: 93.33%;
}
.home-page-car-edit .vector-QA2iqP {
  background-color: transparent;
  height: 26.67%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 13.33%;
}
.home-page-car-edit .vector-SYHP5Z {
  background-color: transparent;
  height: 13.33%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 27.71%;
  width: 13.33%;
}
.home-page-car-edit .vector-Tqfid0 {
  background-color: transparent;
  height: 26.67%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 13.33%;
}
.home-page-car-edit .vector-VXnk7M {
  background-color: transparent;
  height: 93.33%;
  left: 3.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.33%;
  width: 93.33%;
}
.home-page-car-edit .vector-Vd8xNV {
  background-color: transparent;
  height: 26.67%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 13.33%;
}
.home-page-car-edit .vector-VxzKg9 {
  background-color: transparent;
  height: 13.33%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 27.71%;
  width: 13.33%;
}
.home-page-car-edit .vector-WLhHy8 {
  background-color: transparent;
  height: 26.67%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 13.33%;
}
.home-page-car-edit .vector-YBGNfK {
  background-color: transparent;
  height: 26.67%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 13.33%;
}
.home-page-car-edit .vector-YIVoQL {
  background-color: transparent;
  height: 26.67%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 13.33%;
}
.home-page-car-edit .vector-Z3LCcN {
  background-color: transparent;
  height: 93.33%;
  left: 3.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.33%;
  width: 93.33%;
}
.home-page-car-edit .vector-ZVv1IH {
  background-color: transparent;
  height: 93.33%;
  left: 3.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.33%;
  width: 93.33%;
}
.home-page-car-edit .vector-aufupG {
  background-color: transparent;
  height: 93.33%;
  left: 3.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.33%;
  width: 93.33%;
}
.home-page-car-edit .vector-c6M2D3 {
  background-color: transparent;
  height: 26.67%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 13.33%;
}
.home-page-car-edit .vector-eUi9C4 {
  background-color: transparent;
  height: 13.33%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 27.71%;
  width: 13.33%;
}
.home-page-car-edit .vector-fGN1lz {
  background-color: transparent;
  height: 13.33%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 27.71%;
  width: 13.33%;
}
.home-page-car-edit .vector-fza8aX {
  background-color: transparent;
  height: 93.33%;
  left: 3.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.33%;
  width: 93.33%;
}
.home-page-car-edit .vector-htotex {
  background-color: transparent;
  height: 26.67%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 13.33%;
}
.home-page-car-edit .vector-jL2bRz {
  background-color: transparent;
  height: 13.33%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 27.71%;
  width: 13.33%;
}
.home-page-car-edit .vector-kTgpSO {
  background-color: transparent;
  height: 26.67%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 13.33%;
}
.home-page-car-edit .vector-lXJ3xn {
  background-color: transparent;
  height: 93.33%;
  left: 3.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.33%;
  width: 93.33%;
}
.home-page-car-edit .vector-omcbeN {
  background-color: transparent;
  height: 13.33%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 27.71%;
  width: 13.33%;
}
.home-page-car-edit .vector-pykdJ2 {
  background-color: transparent;
  height: 26.67%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 13.33%;
}
.home-page-car-edit .vector-saEGxH {
  background-color: transparent;
  height: 26.67%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 13.33%;
}
.home-page-car-edit .vector-tCHQLv {
  background-color: transparent;
  height: 72.92%;
  left: 11.62%;
  mix-blend-mode: normal;
  position: absolute;
  top: 15.80%;
  width: 72.92%;
}
.home-page-car-edit .vector-vRcEsB {
  background-color: transparent;
  height: 13.33%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 27.71%;
  width: 13.33%;
}
.home-page-car-edit .vector-xI5tTB {
  background-color: transparent;
  height: 93.33%;
  left: 3.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.33%;
  width: 93.33%;
}
.home-page-car-edit .vector-xLWXxt {
  background-color: transparent;
  height: 26.67%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 13.33%;
}
.home-page-car-edit .vector-xPMvPj {
  background-color: transparent;
  height: 13.33%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 27.71%;
  width: 13.33%;
}
.home-page-car-edit .vector-y1XeMK {
  background-color: transparent;
  height: 93.33%;
  left: 3.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.33%;
  width: 93.33%;
}
.home-page-car-edit .vector-yCcsoQ {
  background-color: transparent;
  height: 13.33%;
  left: 43.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 27.71%;
  width: 13.33%;
}
.home-page-car-edit .vector-yRLXsy {
  background-color: transparent;
  height: 86.93%;
  left: 10.00%;
  mix-blend-mode: normal;
  position: absolute;
  top: 6.54%;
  width: 80.00%;
}
.home-page-car-edit .vector-zkH16s {
  background-color: transparent;
  height: 93.33%;
  left: 3.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.33%;
  width: 93.33%;
}
.home-page-car-edit .wheels-mjIumg {
  background-color: transparent;
  height: 16px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 131px;
}
.home-page-car-edit .x1-ZpkusC {
  background-color: transparent;
  height: 10px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 19.7px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: 12px;
}
.home-page-car-edit .x2-howkCj {
  background-color: transparent;
  height: 34px;
  left: 320px;
  letter-spacing: 0.00px;
  line-height: 33.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .x2-trCdTl {
  background-color: transparent;
  height: 16px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 131px;
}
.home-page-car-edit .x2-vcoZO8 {
  background-color: transparent;
  height: 16px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 131px;
}
.home-page-car-edit .x3-KfAAKu {
  background-color: transparent;
  height: 34px;
  left: 320px;
  letter-spacing: 0.00px;
  line-height: 33.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  white-space: nowrap;
  width: auto;
}
.home-page-car-edit .x3-jGSBnk {
  background-color: transparent;
  height: 16px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 131px;
}
.home-page-car-edit .x4-zUjqOF {
  background-color: transparent;
  height: 16px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 131px;
}
.home-page-car-edit .x5-Ki0one {
  background-color: transparent;
  height: 34px;
  left: 320px;
  letter-spacing: 0.00px;
  line-height: 33.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  white-space: nowrap;
  width: auto;
}
